<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="@project.description@"/>
    <meta name="author" content="Serge Martynov"/>
    <title>@project.name@</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
</head>

<body>

<div th:fragment="common-navbar" class="row" id="navbar-wrapper-row">
    <div class="col-sm-12">
        <div class="navbar navbar-default">
            <div class="navbar-header">
            </div>
            <nav class="collapse navbar-collapse">
            </nav>
        </div>
    </div>
</div>

<div th:fragment="common-scripts">
    <!-- jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>


</body>
</html>