<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="@project.description@"/>
    <meta name="author" content="Serge Martynov"/>
    <title>@project.name@</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
</head>

<body>

<div th:fragment="common-navbar" class="row" id="navbar-wrapper-row">
    <div class="col-sm-12">
        <div class="navbar navbar-default">
            <div class="navbar-header">
            </div>
            <nav class="collapse navbar-collapse">
            </nav>
        </div>
    </div>
</div>

<div th:fragment="common-scripts">
    <!-- jQuery library -->
    <script th:src="@{/js/jquery.min.js}"></script>

    <!-- Bootstrap library -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Cytoscape graph library -->
    <script th:src="@{/js/cytoscape.min.js}"></script>

    <!-- Cytoscape example -->
    <script th:src="@{/js/cytoscape-example.js}"></script>

    <!-- Custom resizer -->
    <script th:src="@{/js/custom.resize.js}"></script>
</div>


</body>
</html>