body {
	background-color: transparent;
    height: 100%;
}

html {
	background: gray;
	background: -webkit-linear-gradient(to right, #777777, #dddddd);
	background: -o-linear-gradient(to right, #777777, #dddddd);
	background: -moz-linear-gradient(to right, #777777, #dddddd);
	background: linear-gradient(to right, #777777, #dddddd);
	height: 100%;
    min-width: 1050px;
}

#page-wrapper {
	border: 10px solid blue;
	/*overflow: auto;*/
}

#common-navbar-wrapper-row {
	border: 6px solid green;
}

#common-navbar-wrapper-column {
}

#common-navbar {
	border: 6px solid black;
}

#graph-workspace-wrapper-row {
	border: 4px solid red;
}

#graph-sidebar-wrapper-column {
	border: 4px solid yellow;
}

#graph-panel-wrapper-column {
	border: 4px solid cyan;
}

#graph-panel {
	border: 4px solid magenta;
}

#graph {
	min-height: 500px;
	/*height: 700px;*/
}








.v-expander {
	height: 100%;
}

.mark-green {
	border: 6px solid green;
}

.mark-yellow {
	border: 4px solid yellow;
}

.mark-cyan {
	border: 4px solid cyan;
}

.mark-red {
	border: 4px solid red;
}

.mark-blue {
	border: 4px solid blue;
}

.mark-superblue {
	border: 10px solid blue;
}
